*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.pageHeading{
    color: blueviolet;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
